.group:after {
  content: "";
  display: block;
  clear: both;
}

.viewport {
  width: 650px;
  height: 650px;
}

.menu-container {
  background-color: grey;
  position: relative;
  margin: 0 auto;
  width: inherit;
  height: inherit;
}

ul.menu-buttons {
  padding: 0;
  position: relative;
}

ul.menu-buttons li {
  list-style-type: none;
  margin: 0 auto;

  width: 100px;
}

.hidden {
  display: none;
}
