.group:after {
  content: "";
  display: block;
  clear: both;
}

.viewport {
  width: 650px;
  height: 650px;
}

.menu-container {
  background-image: url(../src/space.jpg);
  position: relative;
  margin: 0 auto;
  width: inherit;
  height: inherit;
}

div.menu-container ul.menu-buttons {
  padding: 0;
  position: relative;
  top: 25%;
}

ul.menu-buttons li {
  list-style-type: none;
  margin: 0 auto;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
}

div.menu-button {
  background-color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

div.menu-button:hover {
  background-color: red;
  color: white;
}

.hidden {
  display: none;
}
